<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../../css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
	<div class="header">
		<h1>Liga de la Justicia - El Podcast</h1>
	</div>
	<div class="menuHolder">
		<h2>Menu</h2>
		<div class="menu">
			<div th:each="menuItem,iterStat : ${menu.options}" class="menuItem" th:classappend="${iterStat.odd}? 'odd'">
				<a href="/index.html" th:href="@{${menuItem.url}}"><span th:text="${menuItem.displayName}"></span></a>
			</div>
		</div>
	</div>
	<div class="body">
		<h2>¡Contacta con nosotros!</h2>
		<p>Puedes contactar con nosotros por: </p>
		<ul>
			<li><a href="http://www.spreaker.com/user/ldjgravinera" target="_blank">Spreaker</a></li>
			<li><a href="https://www.facebook.com/LigaJusticiaPod" target="_blank">Facebook</a></li>
			<li><a href="https://twitter.com/LigaJusticiaPod" target="_blank">Twitter</a></li>
			<li><a href="mailto:ligadelajusticiapodcast@gmail.com" target="_blank">Correo Electrónico</a></li>
		</ul>
		<p>Y si te sobran unos duretes siempre puedes donarnos unos berlis en: </p>
		<ul>
			<li><a href="https://www.patreon.com/LigaJusticiaPod" target="_blank">Patreon</a></li>
			<li><a href="https://www.paypal.es" target="_blank">Paypal</a></li>
		</ul>
	</div>
</body>
</html>